<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Multishipping\Controller\Checkout">
        <plugin name="ForceQuoteNonVirtual" type="BCMarketplace\MultiShipVirtualFlow\Plugin\Magento\Multishipping\Controller\Checkout\ForceQuoteNonVirtual" />
    </type>

    <type name="Magento\Multishipping\Controller\Checkout\Addresses">
        <plugin name="SkipStepIfVirtualQuote" type="BCMarketplace\MultiShipVirtualFlow\Plugin\Magento\Multishipping\Controller\Checkout\SkipStepIfVirtualQuote" sortOrder="10" />
    </type>

    <type name="Magento\Multishipping\Controller\Checkout\Shipping">
        <plugin name="SkipStepIfVirtualQuote" type="BCMarketplace\MultiShipVirtualFlow\Plugin\Magento\Multishipping\Controller\Checkout\SkipStepIfVirtualQuote" sortOrder="10" />
    </type>

    <type name="Magento\Multishipping\Helper\Data">
        <plugin name="RemoveVirtualQuoteCheckoutAvailableCheck" type="BCMarketplace\MultiShipVirtualFlow\Plugin\Magento\Multishipping\Helper\Data\RemoveVirtualQuoteCheckoutAvailableCheck" />
    </type>

    <type name="Magento\Multishipping\Model\Checkout\Type\Multishipping">
        <plugin name="RemoveShippingAddressesIfVirtualQuote" type="BCMarketplace\MultiShipVirtualFlow\Plugin\Magento\Multishipping\Model\Checkout\Type\Multishipping\RemoveShippingAddressesIfVirtualQuote" />
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin name="EnableForceQuoteNonVirtual" type="BCMarketplace\MultiShipVirtualFlow\Plugin\Magento\Quote\Model\Quote\EnableForceQuoteNonVirtual" />
    </type>
</config>
